/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Buda:300|Petit+Formal+Script|Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace!important;
}

h1 {
  font-family: 'Petit Formal Script', cursive!important;
  a {
    font-size: 3rem!important;
    text-align: center;
    color: #000!important;
  }

  a:hover {
    color: 'grey';
  }
}

// * { box-sizing: border-box; }
// .video-background {
//   background: #000;
//   position: fixed;
//   top: 0; right: 0; bottom: 0; left: 0;
//   z-index: -99;
// }
// .video-foreground,
// .video-background iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
// }
//
// @media (min-aspect-ratio: 16/9) {
//   .video-foreground { height: 300%; top: -100%; }
// }
// @media (max-aspect-ratio: 16/9) {
//   .video-foreground { width: 300%; left: -100%; }
// }
// @media all and (max-width: 600px) {
// .vid-info { width: 50%; padding: .5rem; }
// .vid-info h1 { margin-bottom: .2rem; }
// }
// @media all and (max-width: 500px) {
// .vid-info .acronym { display: none; }
// }
