/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Petit+Formal+Script|Quicksand');

body, h2, h3, .ui.icon.header {
  font-family: 'Josefin Sans', sans-serif!important;
}

h1 {
  font-family: 'Petit Formal Script', cursive!important;
  a {
    font-size: 3rem!important;
    text-align: center;
    color: #000!important;
  }

  a:hover {
    color: 'grey';
  }
}

label {
  font-size: 17px!important;
  padding-top: 12px;
}

#results, #modal-forecast {
  text-align: center;
}

// Forms

form.new_user {
  margin-left: 43%;
}

form.edit_user {
  margin-left: 37%;
}

.signin {
  margin-left: 42%;
}


.new_entry {
  margin-left: 21%;
}

// Comments

.ui.comments,
#img-header {
  margin-left: 30%!important;
}

.show-header {
  margin-left: 30%;
  margin-bottom: 10px;
  font-size: 17px;
}

.show-buttons {
  display: inline-flex;
  float: right;
  margin-right: 42%;
}

textarea#comment_body {
  width: 450px;
  height: 85px;
}


.comment-wrapper {
  font-size: 16px;
  margin-left: 8%;
  padding-top: 5px;
}

a.avatar {
  width: 3em!important;
}

.toggle-reply {
  display: none;
}

// Video

* { box-sizing: border-box; }

.video-background {
  background: #fff;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
// @media all and (max-width: 600px) {
//
// }
// @media all and (max-width: 500px) {
//
// }

.content-container {
  background: white;
    z-index: 2;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    margin-top: 115vh;
    height: 100vh;
}

#stellar {
  padding-top: 3%;
}
